body{
    background-color: gray;
    line-height:28px; 
    padding:5px;
    margin:8px;

    
}
.pad{
    padding:5px;
    margin-bottom:8px;
}
.border{
    border:2px solid black;
    border-radius:12px;
}

.image{
    height:200px;
    width:200px;
    border:2px solid transparent;
    border-radius:100%;
    background-image:url("photos.jpg");
    background-size:cover;
    
}
.img{
    display:flex;
    flex-direction:column;
    align-items:center;
    
}

input,textarea{
    background-color:gainsboro;
}
#btn{
    width:30%;
}
footer{
    text-align:center;
    
} 
